<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="7; url=/">
    <title>Error 403</title>
    <link rel="stylesheet" href="/css/error403.css">
</head>
<body>
    <div class="base io"> 
        <h1 class="io">403</h1>
        <h2>Access forbidden</h2>
        <h5>(I'm sorry buddy...)</h5>
      </div>
</body>
</html>