<nav style="z-index: 100;" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/user">MarkCom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/user">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Contacts
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/user/view-contact">View Contact</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/user/add-contact">Add Contact</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Messages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/user/view-message">View Message</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/user/add-message">Add Message</a>
                </div>
            </li>
        </ul>
        <!-- Button trigger modal -->
        <a href="#" style="margin-right: 10px;" class="nav-item" data-toggle="modal" data-target="#passmodel">Change Password</a>
        <a href="/auth/logout">Logout</a>
    </div>
</nav>
<div class="modal fade" id="passmodel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name">Old Password</label>
                        <input type="password" name="pass" id="pass" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="new_pass">New Password</label>
                        <input type="password" name="new_pass" id="new_pass" class="form-control">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" onclick="updatePass()">Change Password</button>
            </div>
        </div>
    </div>
</div>